*{
    margin-top: 0;
    padding-top: 0px;
}
nav{
    background-color: #192a56;
    height: 70px;
    border-bottom: 3px solid #f1c40f;

}
nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
    padding: 25px;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: #f1c40f;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
nav ul li a:hover{
   background-color: #EA2027;
   color: aliceblue;

}
.footer-header{
    background-color: #f1f2f6;
    width: 100%;
    height: 100px;
    
}
.footer-header{
    display: flex;
    gap: 150px;
     position: sticky;
    top: 0;
    left: 0;
}
.header-area h3{
    font-size: 25px;
    line-height: 0px;
    margin-left: 150px;
    padding-top: 10px;
    
}
.header-area {
    font-size: 25px;
    line-height: 0px;
    margin-left: 50px;
    padding-top: 25px;
    
}
.link-area ul{
    align-items: center;
    padding-top: 35px;
}
.link-area li{
    display: inline;
    margin-right: 20px;
}
.link-area li a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.link-area li a:hover{
    text-decoration: underline;
    color: #ffa502;
}
.hero-area {
    background-image: url(images/banar.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.message-area{
    background-color: #f1f2f6;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-box{
    background-color: white;
    width: 90%;
    height: 300px;
    box-shadow: 2px 2px 2px black;

}
.message-box h4{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}
.message-box p{
    font-size: 20px;
    padding: 10px;
    color: #2f3542;
}
.btn-1{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    margin-left: 10px;
}
.btn-1:hover{
    background-color: #fbc531;
   
}
.footer-area{
    background-color: #273c75;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.footer-area p{
    display: flex;
    font-size: 20px;
    align-items: end;
    color: #f1f2f6;
    

}