*{
    margin-top: 0;
    padding-top: 0px;
}
nav{
    background-color: #192a56;
    height: 70px;
    border-bottom: 3px solid #f1c40f;

}
nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
    padding: 25px;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: #f1c40f;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
nav ul li a:hover{
   background-color: #EA2027;
   color: aliceblue;

}
.footer-header{
    background-color: #f1f2f6;
    width: 100%;
    height: 100px;
}
.footer-header{
    display: flex;
    gap: 150px;
}
.header-area h3{
    font-size: 25px;
    line-height: 0px;
    margin-left: 150px;
    padding-top: 10px;
    
}
.header-area {
    font-size: 25px;
    line-height: 0px;
    margin-left: 50px;
    padding-top: 25px;
    
}
.link-area ul{
    align-items: center;
    padding-top: 35px;
}
.link-area li{
    display: inline;
    margin-right: 20px;
}
.link-area li a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.link-area li a:hover{
    text-decoration: underline;
    color: #192a56;
}